@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
	--primaryColor: #1a2e35;
	--secondaryColor: #385a64;
	--tertiaryColor: #57b793;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: #c5d1d4;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Nunito Sans";
}

p {
	margin: 0;
	padding: 0;
}
