@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
	--primaryColor: #1a2e35;
	--secondaryColor: #385a64;
	--tertiaryColor: #57b793;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	padding: 0;
	margin: 0;
	background: transparent;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--tertiaryColor);
	min-height: 50px;
	height: 50px;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--tertiaryColor);
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

input:focus {
	outline: none;
}

input::placeholder {
	color: #c5d1d4;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Nunito Sans";
}

p {
	margin: 0;
	padding: 0;
}
